#alertboxes
{
	position: fixed;
	left: 25%;
	top: 150px;
	width: 50%;
	margin: 0px;
	z-index: 1000;
}

.alertbox
{
	height: 85px;
	padding: 15px;
	margin-bottom: 15px;
}

.alertbox h2
{
	margin: 0px;
}

.alertbox p
{
}

.alertbox span
{
	float: right;
	margin-top: -15px;
	margin-right: -15px;
	padding: 12px 16px;
}

.alertbox span:hover
{
	background-color: lightgrey;
	color: black;
	cursor: pointer;
}

.alertbox-red
{
	color: white;
	background-color: #f44336;
}

.alertbox-yellow
{
	color: black;
	background-color: #ffeb3b;
}

.alertbox-green
{
	color: white;
	background-color: #4caf50;
}