#mainMenu
{
	top: 0px;
	left: 0px;
	position: fixed;
	background-color: white;
	border-bottom: 1px solid black;
	width: 100%;
	height: 65px;
}

#mainMenuContainer
{
	width: 60%;
	margin-left: 20%;
	margin-top: 15px;
}

#mainMenuLogo
{
	display: inline;
	float: left;
}

#mainMenuLinks
{
	display: inline;
}

#mainMenuLinks ul
{
	margin: 0px;
	display: inline;
	list-style-type: none;
}

#mainMenuLinks ul li
{
	display: inline;
}

#mainMenuLinks ul li a
{
}

#mainMenuSearch
{
	display: inline;
	float: right;

}