.UpperSection{
	position: relative;
	border: 1px solid #ebebeb;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 15px;
}

#username{
	line-height:1rem;
}

#username,#role{
	margin:0;
	padding:0;
}

#role{
    font-size: 11px;
}

.UpperSectionLeft{
	position: relative;
	float: left;
	width: 200px;
	height: 200px;
}

.MainSection{
	flex-direction: column;
	border:1px solid black;
	clear:both;
}

.Wrap{
	display:block;
}

#motto{
	margin: 0;
	padding: 0;
}

.UpperSectionRight{
	width: calc(100% - 200px);
	min-height: 200px;
	margin-left: 200px;
}

.UpperSectionRightStart
{
	float:left;
	position: relative;
	width: 200px;
	height: 200px;
}

#motto{
	position: absolute;
	bottom:0.8em;
}

#DateJoined{
	float:right;
	font-size: 0.8em;
}