#loginWindow
{
	position: absolute;
	display: none;
	left: 0px;
	top: 0px;
	width: 100vw;
	height: 100vh;
}

#loginWindow .background
{
	left: 0px;
	top: 0px;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.25);
}

#loginWindow .container
{
	background-color: white;
	position: absolute;
	left: 32.5%;
	top: 20%;
	width: 35vw;
	height: 50vh;
	border: 1px solid #808080;
}

#loginWindow #loginwindowtabs
{
	position: relative;
	height: 40px;
	width: 100%;
	cursor: pointer;
	font-size: 1.5em;
}

#loginWindow #loginwindowtabs #loginwindowlefttab
{
	width: 50%;
	height: 100%;
	text-align: center;
	float: left;
	background-color: #ebebeb;
	transition: background-color 0.1s, color 0.1s;
}

#loginWindow #loginwindowtabs #loginwindowrighttab
{
	width: 50%;
	height: 100%;
	text-align: center;
	float: right;
	background-color: #ebebeb;
	transition: background-color 0.1s, color 0.1s;
}

#loginWindow #loginwindowtabs #loginwindowrighttab:hover, #loginWindow #loginwindowtabs #loginwindowlefttab:hover
{
	background-color: #cccccc;
	color: #036d00;
}

#loginWindowTabContent
{
	height: calc(100% - 40px);
}

.loginwindowselectedtab
{
	background-color: #cccccc !important;
	color: #036d00;

}

#loginWindow #loginWindowCloseBtn
{
	float: right;
	font-size: 2em;
	background-color: #ebebeb;
	padding: 1px 10px;
	transition: background-color 0.1s, color 0.1s;
}
#loginWindow #loginWindowCloseBtn:hover
{
	background-color: #cccccc;
	cursor: pointer;
	color: #036d00;
}

#loginWindowTabContent form
{
	height: 75%;
	width: 50%;
	padding-left: 25%;
	padding-top: 12%;
}

#loginWindowTabContent form input
{
	font-size: 1.2em;
	padding: 5px;
	width: 200%;
	margin-top: 3px;
	margin-bottom: 3px;
	border: 1px solid #808080;
	border-radius: 2px;
	background-color: #ffffff;
	transition: background-color 0.1s, color 0.1s;
}

#loginWindowTabContent form input[type=submit]
{
	background-color: #ebebeb;
}

#loginWindowTabContent form input[type=submit]:hover
{
	background-color: #cccccc;
	color: #036d00;
}