#mainMenu
{
	top: 0;
	left: 0;
	width: 100%;
	height: 6vh;
	position: fixed;
	text-align: center;
	background-color: white;
	border-bottom: 1px solid #cdcdcd;
}

#mainMenuLogo
{
	display: inline;
	float: left;
	height: 100%;
}

#mainMenuLinks
{
	margin: 0;
	padding: 0;
	display: inline;
	list-style-type: none;
}

#mainMenuLinks li
{
	display: inline-block;
	height: 6vh;
}

#mainMenuLinks li a
{
	display: block;
	padding: 1em;
	border-bottom: 4px solid rgba(0, 0, 0, 0);
	transition: border-bottom 0.3s;
	color: #036d00;
}

#mainMenuLinks li a:hover
{
	border-bottom: 4px solid #036d00;
}

#mainMenuLanguage
{
	display: inline;
}

#mainMenuLanguage img
{
	width: 25px;
	margin-right: 5px;
	transition: filter 0.1s;
}

#mainMenuLanguage img:hover
{
	cursor: pointer;
	filter: drop-shadow(1px 2px 2px black);
}

#mainMenuSearch
{
	display: inline;
}

#mainMenuSearch form
{
	display: inline;
	padding: 0.8vh;
	background-color: #ebebeb;
	margin-right: 5px;
}

#mainMenuSearch button
{
	display: inline-block;
	background-color: rgba(0, 0, 0, 0);
	border: 0px;
	padding: 0px;
	margin: 0;
}

#mainMenuSearch button i
{
	padding: 0.6em;
	display: block;
}

#mainMenuSearch input
{
	display: inline-block;
	border: 0;
	background-color: rgba(0, 0, 0, 0);
	margin: 5px;
}

#mainMenuSearch input:focus
{
	outline: 0;
}

#mainMenuNotification
{
	display: inline;
}

#mainMenuNotification button
{
	background-color: transparent;
	border: 0;
	padding: 0;
	margin: 0;
}

#mainMenuNotification button i
{
	padding: 8px 12px;
	font-size: 1.2em;
}

#mainMenuNotification div
{
	display: none;
}

.badge
{
	position: absolute;
	font-weight: bold;
	padding: 0px 3px;
	font-size: 0.8em;
	margin-top: -7px;
	margin-left: -7px;
	border-radius: 50%;
	color: white;
	background-color: red;
}

#mainMenuUser
{
	display: inline;
}

#mainMenuUser a
{
	cursor: pointer;
	color: blue;
	font-size: 0.8em;
	padding-left: 5px;
	padding-right: 5px;
}

#mainMenuUser span
{
	margin-left: 5px;
}

#mainMenuUser img
{
	margin: 0.5vh;
	width: 5vh;
	height: 5vh;
	vertical-align: middle;
	border-radius: 50%;
}