#mainMenu
{
	top: 0;
	left: 0;
	width: 100%;
	height: 6vh;
	position: absolute;
	text-align: center;
}

#mainMenuLogo
{
	display: inline;
	float: left;
	height: 100%;
}

#mainMenuLinks
{
	margin: 0;
	padding: 0;
	display: inline;
	list-style-type: none;
}

#mainMenuLinks li
{
	display: inline-block;
	height: 6vh;
}

#mainMenuLinks li a
{
	display: block;
	padding: 1em;
	border-bottom: 4px solid rgba(0, 0, 0, 0);
	transition: border-bottom 0.3s;
	color: green;
}

#mainMenuLinks li a:hover
{
	border-bottom: 4px solid green;
}

#mainMenuLanguage
{
	display: inline;
}

#mainMenuLanguage img
{
	width: 25px;
	margin-right: 5px;
	transition: filter 0.1s;
}

#mainMenuLanguage img:hover
{
	cursor: pointer;
	filter: drop-shadow(1px 2px 2px black);
}

#mainMenuSearch
{
	display: inline;
}

#mainMenuSearch button
{
}

#mainMenuSearch input
{
	display: none;
}

#mainMenuNotification
{
	display: inline;
}

#mainMenuNotification button
{
}

#mainMenuNotification div
{
	display: none;
}

#mainMenuUser
{
	display: inline;
}

#mainMenuUser a
{
	cursor: pointer;
	color: blue;
	font-size: 0.8em;
	padding: 15px;
}

#mainMenuUser span
{
	margin-left: 5px;
}

#mainMenuUser img
{
	margin: 0.5vh;
	width: 5vh;
	height: 5vh;
	vertical-align: middle;
	border-radius: 50%;
}







/*#mainMenuUserPart
{
	float: right;
	display: inline-block;
}

#mainMenuUserPartLanguage
{
	display: inline-block;
	vertical-align: top;
	margin-right: 25px;
}

.mainMenuUserPartLanguageIcon
{
	width: 25px;
	margin-right: 5px;
}

.mainMenuUserPartLanguageIcon:hover
{
	cursor: pointer;
	filter: drop-shadow(1px 2px 2px black);
}

.mainMenuUserPartLink
{
	font-size: 0.8em;
	text-decoration: none;
	color: blue;
}

.mainMenuUserPartLink:hover
{
	text-decoration: underline;
	cursor: pointer;
}

#mainMenuUserPartUser
{
	margin-right: 7px;
	margin-top: 7px;
	display: inline-block;
	vertical-align: middle;
}

#mainMenuUserPartUser span
{
	margin-right: 7px;
	vertical-align: middle;
}

#mainMenuUserPartUser img
{
	vertical-align: middle;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	transition: border-radius 0.5s
}

#mainMenuUserPartUser ul
{
	display: none;
	background-color: white;
	border: 1px solid gray;
	border-radius: 3px;
	height: 100px;
	width: 100%;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	margin-top: 8px;
}

#mainMenuUserPartUser ul li
{
	width: 100%;
}

#mainMenuUserPartUser ul li a
{
	padding-left: 5px;
	color: gray;
	width: 100%;
}

#mainMenuUserPartUser ul li a:hover
{
	color: white;
	background-color: gray;
}

#mainMenuUserPartUser:hover img
{
	border-radius: 7%;
}

#mainMenuUserPartUser:hover ul
{
	display: block;
}*/