#mainMenu
{
	top: 0px;
	left: 0px;
	position: fixed;
	background-color: white;
	border-bottom: 1px solid gray;
	width: 100%;
	height: 65px;
}

#mainMenuContainer
{
	display: inline-block;
	margin-left: 20%;
	margin-top: 15px;
}

#mainMenuLogo
{
	display: inline;
	float: left;
}

#mainMenuLinks
{
	display: inline;
}

#mainMenuLinks ul
{
	margin: 0px;
	display: inline;
	list-style-type: none;
}

#mainMenuLinks ul li
{
	display: inline;
}

#mainMenuLinks ul li a
{
}

#mainMenuUserPart
{
	float: right;
	display: inline-block;
}

#mainMenuUserPartLanguage
{
	display: inline-block;
	vertical-align: top;
	margin-right: 25px;
}

.mainMenuUserPartLanguageIcon
{
	width: 25px;
	margin-right: 5px;
}

.mainMenuUserPartLanguageIcon:hover
{
	cursor: pointer;
	filter: drop-shadow(1px 2px 2px black);
}

.mainMenuUserPartLink
{
	font-size: 0.8em;
	text-decoration: none;
	color: blue;
}

.mainMenuUserPartLink:hover
{
	text-decoration: underline;
	cursor: pointer;
}

#mainMenuUserPartUser
{
	margin-right: 7px;
	margin-top: 7px;
	display: inline-block;
	vertical-align: middle;
}

#mainMenuUserPartUser span
{
	margin-right: 7px;
	vertical-align: middle;
	/*padding: 15px 0px;*/
}

#mainMenuUserPartUser img
{
	vertical-align: middle;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	transition: border-radius 0.5s
}

#mainMenuUserPartUser ul
{
	display: none;
	background-color: white;
	border: 1px solid gray;
	border-radius: 3px;
	height: 100px;
	width: 100%;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	margin-top: 8px;
}

#mainMenuUserPartUser ul li
{
	width: 100%;
}

#mainMenuUserPartUser ul li a
{
	padding-left: 5px;
	color: gray;
	width: 100%;
}

#mainMenuUserPartUser ul li a:hover
{
	color: white;
	background-color: gray;
}

#mainMenuUserPartUser:hover img
{
	border-radius: 7%;
}

#mainMenuUserPartUser:hover ul
{
	display: block;
}