#mainMenu
{
	top: 0px;
	left: 0px;
	position: fixed;
	background-color: white;
	border-bottom: 1px solid black;
	width: 100%;
	height: 65px;
}

#mainMenuContainer
{
	display: inline-block;
	width: 60%;
	margin-left: 20%;
	margin-top: 15px;
}

#mainMenuLogo
{
	display: inline;
	float: left;
}

#mainMenuLinks
{
	display: inline;
}

#mainMenuLinks ul
{
	margin: 0px;
	display: inline;
	list-style-type: none;
}

#mainMenuLinks ul li
{
	display: inline;
}

#mainMenuLinks ul li a
{
}

#mainMenuSearch
{
	display: inline;
	float: right;

}

#mainMenuUserPart
{
	float: right;
	display: inline-block;
}

#mainMenuUserPartLanguage
{
	display: inline-block;
	vertical-align: top;
	margin-right: 25px;
}

.mainMenuUserPartLanguageIcon
{
	width: 25px;
	margin-right: 5px;
}

.mainMenuUserPartLanguageIcon:hover
{
	cursor: pointer;
	filter: drop-shadow(1px 2px 2px black);
}

#mainMenuUserPartUser
{
	display: inline-block;
}

.mainMenuUserPartLink
{
	font-size: 0.8em;
	text-decoration: none;
	color: blue;
}

.mainMenuUserPartLink:hover
{
	text-decoration: underline;
	cursor: pointer;
}