*
{
	font-family: 'Chalet', sans-serif;
	box-sizing: border-box;
}

a
{
	text-decoration: none;
}

body
{
	margin: 0;
}

#body
{
	display: inline;
	float: left;
	margin-left: 20.5vw;
	margin-top: 8vh;
	width: 45vw;
	padding-bottom: 4vh;
}

#sidebar
{
	display: inline;
	float: right;
	width: 12.5vw;
	margin-top: 8vh;
	margin-right: 20.5vw;
}

#sidebar ul:first-child
{
	margin-top: 0;
}

#sidebar ul
{
	padding: 0;
	margin: 0;
	margin-top: 15px;
	overflow: hidden;
}

#sidebar ul li
{
	list-style-type: none;
}

#sidebar ul li a
{
	display: block;
	padding: 1em;
	background-color: #ebebeb;
	color: black;
	transition: background-color 0.2s, padding-left 0.2s, color 0.2s;
	padding-left: 15px;
	white-space: nowrap;
}

#sidebar ul li a:hover
{
	background-color: #cdcdcd;
	padding-left: 25px;
	color: #036d00;
}

@media only screen and (max-width: 768px)
{
	#body
	{
		display: block;
		width: 95vw;
		margin: 0;
	}

	#sidebar
	{
		display: block;
		width: 95vw;
		margin: 0;
	}
}